*{
    margin:0;
    padding:0;
}
body {
    display :flex;
    width:98vw;
    height:98vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black; 
}

.keyboard {
    position: relative;
    width:800px;
    height:389px;
    border-radius: 15px;

    animation: pushdownedAndColorChange 1s ease-out 2s 1 normal both;
}

.row {
    display : flex;
    align-items: center;
    justify-content: space-evenly;
    height:60px;
    margin : 15px auto 0 auto;
}

.space {
    border-radius:15px;
    width:420px; 
    height:55px;
    margin: 15px auto;

    animation: colorChange 1s ease-out 2s 1 normal both;
}

.backspace {
    border-radius:15px;
    width:212px; 
    height:55px;
    margin : 0 18px 0 0;
    display:flex;
    justify-content:center;
    align-content:center;

    animation: colorChange 1s ease-out 2s 1 normal both;
}

.larr {
    display: inline-block;
    font-size: 45px;
}

.zero {
    width:800px;
    justify-content:flex-end;
}

.one {
    width:800px;
}

.two {
    width:720px;
}

.three {
    width:560px;
}

.key {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width : 60px;
    height : 60px;
    border-radius: 10px;

    animation: colorChange 1s ease-out 2s 1 normal both;
}

.keyCharacter {
    display:inline-block;
    font-size: 20px;
}

.keyPress {
    color:#fca311 !important;
    border:2px solid #fca311 !important;
    transform: scale(1.1) !important;
}

@keyframes pressed{
    0%{
        color:black;
        border:2px solid black;
    }
    50%  {
        color:#fca311;
        border:2px solid #fca311;
        transform: scale(1.5);
    }
    100% {
        color:#e5e5e550;
        border:2px solid #e5e5e550;
    }
}

@keyframes colorChange {
    0% {
        color:black;
        border: 2px solid black;
    }
    100% {
        color:#e5e5e550;
        border:2px solid #e5e5e550;
    }
}

@keyframes pushdownedAndColorChange {
    0% {
        top:0px;
        border: 5px solid black;
    }
    100% {
        top:125px;
        border:5px solid #e5e5e550;
    }
}

.keyT,.keyY,.keyP,.keyI {
    animation-name: pressed;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction:normal;
    animation-fill-mode: both;
}
.keyT{
    animation-delay: 0.4s;
}

.keyY{
    animation-delay: 0.8s;
}

.keyP{
    animation-delay: 1.2s;
}

.keyI{
    animation-delay: 1.6s;
}

.reader {
    display: flex;
    align-items:center;
    width:800px;
    color:#e5e5e550;
    height:50px;
    white-space:nowrap;
    overflow:hidden;
}

.readerOrig {
    width:800px;
    color:#e5e5e5;
    height:50px;
    text-align:center;
    font-size: 50px;
    animation-name: unblurr;
    animation-duration: 0.5s;;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-delay: 0ms;
}

.typi {
    width:800px;
    color:#e5e5e5;
    height:50px;
    font-size: 50px;
    animation: blurr 0.5s ease-in-out 2s 1 normal both;
    text-align:center;
}

.cursor {
    animation-name:blink;
    animation-timing-function:steps(1,end);
    animation-duration:0.8s;
    animation-iteration-count:infinite;
}

.letter {
    display: inline-block;
    color:#e5e5e550;
    font-size:40px;
}

.correct {
    color:#e5e5e5;
}

.incorrect {
    color:rgba(255, 0, 0, 0.9);
}

@keyframes blurr {
    0% {
        filter:blur(0px);
    }
    100% {
        filter:blur(100px);
    }
}

@keyframes unblurr {
    0% {
        filter:blur(100px);
    }
    100% {
        filter:blur(0px);
    }
}

@keyframes blink {
    0%,100% {
        border-left:2px solid #e5e5e5;
    }
    50% {
        border-left:2px solid black;
    }
}

.resultAvg {
    width:200px;
    height:200px;
    position: fixed;
    top:0;
    right:0;
    display:none;
}

.resultMax {
    width:200px;
    height:200px;
    position:fixed;
    top:0;
    left:0;
    display:none;
}

.resultAfter {
    animation: appear 1s linear 0s 1 normal both;
}

.keyboardAfter {
    animation: disappear-keyboard 1s linear 0s 1 normal both;
}
.keyCharacterAfter {
    animation: disappear 1s linear 0s 1 normal both;
}

@keyframes appear {
    0% {
        border: 2px solid black;
    }
    100%{
        border:2px solid #e5e5e5;
    }
}

@keyframes disappear-keyboard {
    0% {
        color:#e5e5e5;
        border:5px solid #e5e5e5;
        top:125px;
    }
    100% {
        color:#e5e5e550;
        border:5px solid #e5e5e550;
        top:125px;
    }
}

@keyframes disappear{
    0% {
        color:#e5e5e5;
        border:2px solid #e5e5e5;
    }
    100% {
        color:#e5e5e550;
        border:2px solid #e5e5e550;
    }
}

.appearFromDimAnimationKeyboard{
    animation: appearFromDimKeyboard 1000ms linear 0ms 1 normal both;
}

.disappearToDimAnimationKeyboard {
    animation: appearFromDimKeyboard 1000ms linear 0ms 1 reverse both;
}

@keyframes appearFromDimKeyboard{
    0% {
        top:125px;
        color:#e5e5e550;
        border:5px solid #e5e5e550;
    }
    100% {
        top:125px;
        color:#e5e5e5;
        border:5px solid #e5e5e5;
    }
}

.appearFromDimAnimation{
    animation: appearFromDim 1000ms linear 0ms 1 normal both;
}

.disappearToDimAnimation{
    animation: appearFromDim 1000ms linear 0ms 1 reverse both;
}

@keyframes appearFromDim{
    0% {
        color:#e5e5e550;
        border:2px solid #e5e5e550;
    }
    100% {
        color:#e5e5e5;
        border:2px solid #e5e5e5;
    }
}